form(action='/', method='POST')
  p
    input(type='hidden', name='customer', value=customer)
    input(type='hidden', name='from_time', value=from_time)
    input(type='hidden', name='to_time', value=to_time)
    input(type='hidden', name='from', value=from-1000)
  input(type='submit', value='Previous Page')
