extends layout

block content
  h1= title
  include _form.pug
  if hits.length > 0 && total_hits > 1000
      p= "Total hits: " + total_hits + " Displaying " + from + " to " + to
      if from > 0
        include _previous_page.pug
      if to < total_hits
        include _next_page.pug
  for h in hits
    p= h.log

